
/*produtos da vitrine */
div#vitrine-produtos{
    background-image: url("../imagens/background.jpg");
}


.thumbnail {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: auto ;
    background-repeat: no-repeat;
    border: none;
}
 .produto{
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 26px;
 }

/* DIV FILTRO DE BUSCA*/
div#filtro-de-busca{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    margin-top: -2%;
}

#filtro-de-busca .personalize{
    font-size: 27px;
    margin-top: 2%;
    width: 14%;
}

/* DIV NUMERADOR DE PÃGINAS*/

.checkbox-animated {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .checkbox-animated input[type=checkbox] {
    display: none;
  }
  .checkbox-animated input[type=checkbox]:disabled ~ label .box {
    border-color: #777;
    background-color: #E6E6E6;
  }
  .checkbox-animated input[type=checkbox]:disabled ~ label .check {
    border-color: #777;
  }
  .checkbox-animated input[type=checkbox]:checked ~ label .box {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  .checkbox-animated input[type=checkbox]:checked ~ label .check {
    opacity: 1;
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
  }
  .checkbox-animated label {
    cursor: pointer;
    padding-left: 28px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .checkbox-animated label span {
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .checkbox-animated label .box {
    border: 2px solid #000;
    height: 20px;
    width: 20px;
    z-index: 888;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .checkbox-animated label .check {
    top: -7px;
    left: 6px;
    width: 12px;
    height: 24px;
    border: 2px solid #BADA55;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 888;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

.checkbox-animated-inline {
    position: relative;
    margin-top: 31px;
    margin-bottom: 10px;
}

  .checkbox-animated-inline input[type=checkbox] {
    display: none;
  }

  .checkbox-animated-inline input[type=checkbox]:disabled ~ label .box {
    border-color: #777;
    background-color: #E6E6E6;
  }

  .checkbox-animated-inline input[type=checkbox]:disabled ~ label .check {
    border-color: #777;
  }

  .checkbox-animated-inline input[type=checkbox]:checked ~ label .box {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }

  .checkbox-animated-inline input[type=checkbox]:checked ~ label .check {
    opacity: 1;
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
  }

  .checkbox-animated-inline label {
    cursor: pointer;
    padding-left: 28px;
    font-weight: normal;
    margin-bottom: 0;
  }

  .checkbox-animated-inline label span {
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .checkbox-animated-inline label .box {
    border: 2px solid #000;
    height: 20px;
    width: 20px;
    z-index: 888;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

.checkbox-animated-inline label .check {
    top: -7px;
    left: 6px;
    width: 12px;
    height: 24px;
    border: 2px solid #BADA55;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 888;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.checkbox-animated-inline.checkbox-animated-inline {
    display: inline-block;
}

.checkbox-animated-inline.checkbox-animated-inline + .checkbox-animated-inline {
    margin-left: 10px;
}

.pagination>li>a, .pagination>li>span{
    color: black;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: grey;
    border-color: grey;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    color: black;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left: 0;
}